{% set configField = { 'label': 'Nombre', 'field': 'name'} %}  
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


{% set configField = { 'label': 'Tipo', 'field': 'formfieldtype', 'classesinput':'select2' }  %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}


{% set configField = { 'label': 'Longitud máxima', 'field': 'maxlong' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Longitud mínima', 'field': 'minlong' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': 'Deshabilitado', 'field': 'disab' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

{% set configField = { 'label': '¿Campo obligatorio?', 'field': 'oblig' } %}
{% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}