{#
    Pacolmg
    Greetik Soluciones SL
    view the formfields table
#}
{% include 'BEInterfaceBundle:_Default:errorfromflash.html.twig' %}    
{%
    set configTable = {
                                'id': 'formfield', 
                                'title': 'Campos', 
                                'icon':'tasks',
                                'noOptions':true,
                                'viewdata': {'url': 'webforms_viewformfield'},
                                'fields': {'numorder': {'title': 'Orden'}, 'name': {'title': 'Nombre', 'link_view': true}} 
                               }
                              
%}

{% if insertAllow %}{% set configTable = configTable|merge( {'insertdata': {'url': path('webforms_insertformfield', {'idproject': idproject})}}) %}{% endif %}

{% include 'BEInterfaceBundle:_Modules:viewtablescript.html.twig' %}

{% if new_form is defined %}
{%
       set configForm = {
           'id' : 'sendtoform',
           'pathaction': path('catalog_changesendto', {'idproject':idproject}),
           'pathcancel': path('webforms_listformfields', {'idproject':idproject}),
           'title': 'Email',
           'icon': 'tasks'
       }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% set configField = { 'label': 'Enviar formulario al email:', 'field': 'email'} %}  
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

        {% set configField = { 'label': 'Con el asunto:', 'field': 'subject'} %}  
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

        {% set configField = { 'label': 'Autoresponder', 'field': 'autores'} %}  
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

        {% set configField = { 'label': 'Respuesta Automática', 'field': 'textres'} %}  
        {% include 'BEInterfaceBundle:_Modules:formfield.html.twig' %}

        {{ form_widget(new_form._token) }}

    {% endblock %}
{% endembed %}
{% endif %}