{%
    set configForm = {
        'id' : 'insertformfield',
        'pathaction': path('webforms_insertformfield', {'idproject':idproject}),
        'pathcancel': path('webforms_listformfields', {'idproject':idproject}),
        'title': 'Campo',
        'icon': 'tasks'
    }
%}
{% embed 'BEInterfaceBundle:_Modules:insertform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% include 'WebformsBundle:Default:forminsert.html.twig' %}    


        {{ form_widget(new_form._token) }}

    {% endblock %}                    
{% endembed %}
