{%
                                set configForm = {
                                    'id' : 'modifyformfield',
                                    'pathaction': path('webforms_modifyformfield', { 'id': item.id }),
                                    'pathcancel': path('webforms_listformfields', {'idproject':item.project})
                                }
%}


{% embed 'BEInterfaceBundle:_Modules:modifyform.html.twig' %}
    {% block formcontent %}
        {% if form_errors(new_form) %}
            <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
        {% endif %}

        {% include 'WebformsBundle:Default:forminsert.html.twig' %}

        {{ form_widget(new_form._token) }}

    {% endblock %}                    
{% endembed %}
