{# empty Twig template #}
{% if modifyAllow is defined and modifyAllow == true %}<li><a data-toggle="modal" data-target="#modal_ajax" href="{{ path('webforms_insertformfieldoption', { 'id_field':itemid}) }}"><i class="fa fa-external-link"></i> Nuevo</a></li>{% endif %}
    {% if formfieldoptions is defined %}
        {% for option in formfieldoptions %}
        <li>
            {% if modifyAllow is defined and modifyAllow == true %}<a data-toggle="modal" data-target="#modal_ajax" href="{{ path('webforms_insertformfieldoption', {'id_field': itemid, 'id':option.id  }) }}" title="Editar"><i class="fa fa-pencil"></i></a>{% endif %}
            {% if modifyAllow is defined and modifyAllow == true %}<a href="{# path('module_viewmodule', {'id': module.module }) #}"><i class="fa fa-barcode"></i> {% endif %}
                <span class="sale-info">{{ option.name  }}</span>
                {% if modifyAllow is defined and modifyAllow == true %}</a>{% endif %}
        </li>   
    {% endfor%}
{% endif %}
